@import "../../Style.css";

.articleTable {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  min-height: 30em;
}

.paginationItem {
  background-color: var(--uiColor);
  color: var(--uiTextColor);
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
  transition: var(--transition-speed);
}

.paginationItem:hover {
  transform: scale(1.2);
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.paginationItem.active {
  border: 1px solid var(--gray4);
  transform: scale(0.8);
  pointer-events: none;
}
